.footer {
    background: #252830;
    padding: rem(63px) rem(0px);

    @include tablets() {
        padding-bottom: 0;
    }
}

.container-footer {
    display: flex;

    @include phones() {
        flex-direction: column;
    }
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    width: 27%;

    &-year {
        font-weight: 600;
        font-size: rem(48px);
        line-height: rem(65px);
        color: rgba(70, 78, 98, 0.5);
        margin-bottom: rem(24px);
    }

    &-name {
        font-weight: bold;
        font-size: rem(18px);
        line-height: rem(30px);
        color: #FFFFFF;
        margin-bottom: rem(18px);

        @include phones() {
            margin-bottom: rem(9px);
        }
    }

    &-text {
        line-height: rem(30px);
        color: rgba(70, 78, 98, 0.5);
    }

    @include tablets() {
        width: 36%;
        margin-right: rem(14px);
    }

    @include phones() {
        width: 100%;
        white-space: nowrap;
        margin-bottom: rem(45px);
    }
}

.footer__data {
    padding-top: rem(20px);
    width: 73%;

    @include phones() {
        width: 100%;
    }
}

.footer__data-content {
    display: flex;

    @include tablets() {
        flex-direction: column;
        margin-bottom: rem(80px);
    }
}

.footer__data-col {
    margin-top: rem(47px);
    margin-right: rem(25px);
    width: 100%;

    @include tablets() {
        margin: 0;
        margin-bottom: rem(51px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer__data-text {
    display: block;
    line-height: rem(30px);
    color: rgba(255, 255, 255, 0.45);
    margin-bottom: rem(28px);
    max-width: rem(341px);

    @include tablets() {
        max-width: rem(453px);
        margin-bottom: rem(21px);
    }

    &--quote {
        max-width: rem(457px);
        display: block;

        @include tablets() {
            max-width: rem(550px);
        }
    }
}

.footer__socials {
    display: flex;
}

.footer__socials-item {
    width: rem(50px);
    height: rem(50px);
    border: rem(1px) solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-right: rem(21px);
    transition: .3s all;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-color: #5500F2;
    }
}

.footer__socials-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(255, 255, 255, 0.3);
    transition: .3s all;

    &:hover {
        fill: #5500F2;
    }
}

.footer__socials-icon {
    width: rem(24px);
    height: rem(24px);

}

.footer__data-quote {
    font-style: italic;
    line-height: rem(30px);
    color: #FFFFFF;
}