.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-scroll {
    background-color: #252830;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(40px);
    width: 100%;

    @include tablets {
        padding-top: rem(20px);
    }
}

.header__user {
    font-weight: 800;
    font-size: rem(36px);
    line-height: rem(49px);
    transition: .3s all;

    &:hover {
        color: #5500F2;
    }
}


.navigation {

    @include tablets() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 55vw;
        height: 100%;
        background-color: #fff;
        color: #464E62;
        z-index: 9000;
        transform: translateX(100%);
        transition: .5s all;
        font-size: rem(19px);

        &--active {
            transform: translateX(0%);
        }
    }

    @include phones() {
        width: 65vw;
    }
}


.navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets() {
        width: 100%;
        height: 80%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: rem(235px) rem(10px) rem(40px) rem(40px);
    }
}

.navigation__item {
    margin-right: rem(60px);
    font-weight: 600;
    transition: .3s all;
    z-index: 10000;

    &:last-child {
        margin-right: 0;
    }

    @include tablets() {
        margin-right: 0;
        margin-bottom: 23px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.navigation__link {
    transition: .3s all;

    &:hover {
        color: #5500F2;
        font-weight: 600;
        text-decoration: underline;
    }
}

.socials {
    @include tablets() {
        margin-left: 32%;
        margin-right: 10%;
    }

    @include phones() {
        display: none;
    }
}

.socials__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets() {
        justify-content: flex-start;
        padding-left: rem(40px);
    }
}

.socials__item {
    margin-right: rem(35px);

    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    width: rem(25px);
    height: rem(25px);
    display: block;
    fill: #464E62;
    transition: .3s all;

    &:hover {
        fill: #5500F2;
    }
}

.socials__icon {
    width: 100%;
    height: 100%;

}