.loft {
    width: rem(110px);
    height: rem(25px);
}

.about__text {
    p {
        margin-bottom: rem(14px);
    }
}

.about__extra span p {
    margin-bottom: rem(14px);
}

.certificate {
    text-decoration: underline;
    color: rgb(105, 158, 228);
    position: relative;

    &:hover {
        text-decoration: none;

        span {
            display: block;
        }
    }

    span {
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        height: 100%;
        display: none;
    }
}