.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .8);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .8s ease 0s;
    z-index: 10000;
}

.popup.popup-open {
    opacity: 1;
    visibility: visible;
}

.popup.popup-open .popup__content {
    transform: perspective(300px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    transition: all .8s ease 0s;
}

.popup__content {
    transition: all .8s ease 0s;
    padding: rem(30px) rem(20px);
    background-color: #fff;
    max-width: rem(400px);
    position: relative;
    opacity: 0;
    transform: perspective(300px) translate(0px, -100%) rotateX(45deg);

    &--certificate {
        padding: 0;
    }
}

.popup__close {
    position: absolute;
    top: rem(10px);
    right: rem(10px);

    &--white {
        color: #fff;
    }
}

.popup__title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: rem(20px);
}

.lock {
    overflow: hidden;
}