.section-reviews {
    background: url("../img/background/Budda.jpg") top right 70% no-repeat;
}

.slider__header {
    padding-top: rem(226px);
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(78px);
}

.slider__controls {
    padding-right: 20%;
    display: flex;
}

.button-slider {
    width: rem(53px);
    height: rem(53px);
    background-color: transparent;
    border-radius: 50%;
    border: rem(2px) solid #464E62;
    outline: none;
    margin-right: rem(28px);
    cursor: pointer;
    fill: #464E62;
    transition: .3s all;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-color: #5500F2
    }
}

.slider-btn {
    width: 100%;
    height: 100%;
}

.slider__list {
    padding-bottom: rem(194px);
}

.reviews__list {
    display: flex;
}

.reviews__desc {
    padding-left: 18%;
    min-height: rem(226px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__item {
    flex: 1;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background: url("../img/quote/quote.png") center center / contain no-repeat;
        fill: red;
        top: 0;
        left: 0;
        width: 13%;
        height: 21%;
    }
}

.reviews__text {
    font-weight: 600;
    line-height: rem(30px);
    color: rgba(70, 78, 98, 0.8);
    display: block;
    max-width: rem(330px);
    margin-bottom: rem(10px);
}

.reviews__user {
    display: flex;

    &-img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-position: top 10% center;
        background-repeat: no-repeat;
        margin-right: rem(31px);

        &--1 {
            background-image: url("../img/quote/1.png");
        }

        &--2 {
            background-image: url("../img/quote/2.png");
            background-position: top center;
        }
    }

    &-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            font-weight: 600;
            line-height: rem(22px);
            color: rgba(70, 78, 98, 0.5);
        }
    }
}

.user-name {
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(25px);
}