.section-tittle {
    font-weight: bold;
    font-size: rem(36px);
    line-height: rem(49px);
}

.works__preview {
    position: relative;
    // width: rem(637px);// height: rem(360px);

    @include tablets() {
        margin-bottom: rem(56px);
        // max-width: rem(637px);// max-height: rem(360px);
    }
}

.works__preview-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    width: rem(637px);
    height: rem(360px);
}

.works__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.works__item {
    width: rem(116px);
    height: rem(65px);
}

.works__link {
    width: 100%;
    height: 100%;
    display: block;

    &-prev {
        width: 100%;
        height: 100%;
    }

    &:hover {
        border: rem(2px) solid #DC9322;
        transform: scale(1.05);
    }
}

.works__controls {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
}

.button-works {
    outline: none;
    width: rem(35px);
    height: rem(35px);
    background-color: #333C49;
    fill: #464E62;
    appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    display: block;
    transition: .3s all;

    &:hover {
        fill: #717883;
        cursor: pointer;
        background-color: #464E62;
    }
}

.btn-icon {
    width: rem(12px);
    height: rem(12px);

    &--prev {
        transform: rotate(180deg);
    }
}