.container-works {
    @include tablets() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.works__desc-list {
    display: flex;
    flex: 1;
    transition: .5s all;
}

.works__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: rem(64px);

    @include tablets() {
        flex-direction: column;
        align-items: center;
    }

    &::before {
        content: attr(data-slide);
        position: absolute;
        top: -5%;
        line-height: 1;
        font-size: rem(400px);
        right: 0;
        font-weight: 800;
        color: #E6E6E6;
        transform: translateX(-137%);

        @include tablets() {
            right: -70%;
            top: 0;
        }

        @include phones() {
            display: none;
        }
    }

    @include phones() {
        align-items: flex-start;
    }
}

.slider-works {
    max-width: rem(443px);
    overflow: hidden;
}

.works__desc {
    // max-width: rem(333px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    padding-left: 20px;
    flex: 0 0 100%;

    @include tablets() {
        padding-left: 0;
        align-items: center;
        text-align: center;
        max-width: rem(410px);
    }

    @include phones() {
        align-items: flex-start;
        text-align: initial;
    }
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(35px);

    &__item {
        font-weight: 600;
        font-size: rem(15px);
        line-height: rem(20px);
        color: rgba(51, 60, 73, 0.8);
        padding: rem(14px) rem(22px);
        background: #F3F6F9;
        border-radius: rem(40px);
        margin-right: rem(8px);

        &:last-child {
            margin-right: 0;
        }
    }

    @include tablets() {
        margin-bottom: rem(21px);
    }
}

.works__tittle {
    font-weight: bold;
    font-size: rem(30px);
    line-height: rem(41px);
    margin-bottom: rem(35px);

    @include tablets() {
        margin-bottom: rem(21px);
    }

    @include phones() {
        margin-bottom: rem(10px);
    }
}

.works__text {
    font-weight: 600;
    color: rgba(51, 60, 73, 0.8);
    margin-bottom: rem(46px);

    @include tablets() {
        margin-bottom: rem(29px);
    }

    @include phones() {
        margin-bottom: rem(35px);
    }
}

.more {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: #586ED3;
    fill: #586ED3;
    color: #586ED3;

    &:hover {
        text-decoration: none;
    }

    &__icon {
        width: rem(22px);
        height: rem(22px);
        margin-right: rem(16px);


    }

    &__text {
        font-weight: bold;
        font-size: rem(18px);
        line-height: rem(25px);
    }
}